<% include ../partials/header.ejs %>

<div class="mainWrapper">
    <h1 class="formTop">New Post</h1>
    <div class="container">
        <form action="/<%= currentUser._id %>" method="POST">
            <div class="form-group">
                <label for="imageurl">Image URL</label>
                <input class="form-control" type="text" name="imageurl" autocomplete="off" required />
            </div>
            <div class="form-group">
                <label for="caption">Caption</label>
                <input class="form-control" type="text" name="caption" autocomplete="off" required />
            </div>
            <div class="form-group">
                <button class="btn btn-md btn-primary btn-block">Post</button>
            </div>
        </form>
    </div>
</div>


<% include ../partials/footer.ejs %>