<% include partials/header.ejs %>

<div class="mainWrapper">
    <div class="wrapperTop">
        <div class="" id="userPic">
            <img src="<%= user.avatar %>" alt="">
        </div>
        <div class="" id="userInfo">
            <p class="row"><%= user.username %></p>
            <p class="row">Posts Followers Following</p>
            <p class="row">Bio</p>
        </div>
        <% if (currentUser) { %>
        <div class="" id="userBtn">
            <% if (user._id.equals(currentUser._id)) { %>
            <a href="/<%= user._id %>/new"><i class="fas fa-plus fa-7x"></i></a>
            <%} else { %>
            <a href="#" class="btn btn-primary" style="width: 100%;">Follow</a>
            <%} %>
        </div>
        <%} %>
    </div>
    <hr>
    <% user.posts.forEach(function(post){ %>
    <div class="gallery">
        <img src="<%= post.image %>" alt="" class="galleryPhoto">
    </div>
    <%}) %>
</div>

<% include partials/footer.ejs %>