body {
  background: #f6f4f3;
}

.mainWrapper {
  margin: 5% 15%;
}

#follow {
  width: 100%;
}

.galleryPhotoContainer {
  width: 318px;
  float: left;
  margin: 1.66%;
  height: 318px;
  overflow: hidden;
  background: #f6f4f3;
  display: flex;
  justify-items: center;
  align-items: center;
}

.galleryPhotoContainer a img {
  height: 100%;
  width: 100%;
}

.galleryPhoto {
  max-width: 100%;
  height: auto;
  object-fit: fill;
}

.wrapperTopUserPage {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  margin: 2% 5%;
}

#userPicFrame {
  grid-column: 1 / 2;
  width: 100%;
  height: 150px;
  display: flex;
  justify-items: center;
  align-items: center;
  margin: auto;
  overflow: hidden;
}

#userPic {
  width: 100%;
  height: auto;
}

#userInfo {
  display: grid;
  grid-column: 2 / 3;
  grid-template-rows: 2fr 2fr 2fr;
  margin-left: 7%;
}

#userBtn {
  margin: auto 0;
  grid-column: 3 / 4;
}

.formTop {
  text-align: center;
}

#userNameAndFollow {
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 2fr 5fr;
}

#userName {
  margin: auto 0;
  align-items: center;
  grid-column: 1 / 2;
}

#userFollow {
  display: inline;
  margin: auto 0;
  grid-column: 2 / 3;
}

#followBtn {
  display: inline;
}

#userDetails {
  margin: auto 0;
  grid-row: 2 / 3;
}

#userDetails span {
  margin-right: 5%;
}

#userBio {
  margin: auto 0;
  grid-row: 3 / 4;
}

.post {
  display: grid;
  grid-template-columns: 6fr 2fr;
  border: 1px solid black;
}

.showPost {
  grid-column: 1 / 2;
  border: 1px solid bredlack;
}

#displayPost {
  display: block;
  margin: auto auto;
  max-width: 100%;
  max-height: auto;
}

.showOther {
  grid-column: 2 / 3;
  margin-left: 1%;
  display: grid;
  grid-template-rows: 20% 60% 20%;
}

.dropdown-toggle::after {
  display: none;
}

.posts {
  margin: auto;
  max-width: 65%;
}

.postContainer {
  margin: 2% 0;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 0.7%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background: #f6f4f3;
}

.postTop {
  height: 50px;
  width: 100%;
  background: #aaefdf;
  display: grid;
  grid-template-columns: 10% 80%;
}

.postTop a {
  margin: auto 0;
  margin-left: 1%;
  font-weight: 600;
  text-decoration: none;
  color: black;
}

.postImageContainer {
  max-width: 100%;
  height: auto;
}

.postImage {
  max-width: 100%;
  height: auto;
}

.postCaption {
  max-height: 100px;
  width: 100%;
  background: #aaefdf;
}

.postCaption p span a {
  margin-left: 1%;
  margin-top: 3px;
  text-decoration: none;
  color: black;
}

.userPicFrameLanding {
  grid-column: 1 / 2;
  width: 40px;
  height: 40px;
  display: flex;
  justify-items: center;
  align-items: center;
  margin: auto;
  overflow: hidden;
}

.userPicLanding {
  width: 100%;
  height: auto;
}

.userNameLanding {
  grid-column: 2 / 3;
  margin: auto;
  font-weight: 600;
}

.postCaption p span {
  font-weight: 600;
}

.nav-item .nav-link {
  height: 100%;
  display: flex;
  justify-items: center;
  align-items: center;
}

.nav-link span i {
  width: 27px;
  padding-right: 5px;
  border-right: 1px solid black;
}

.deletePostForm {
  display: flex;
  justify-content: space-around;
}

.showPostInfo {
  margin: 0 2px;
}

.showPostInfo p {
  margin-bottom: 5px;
}

.showComments {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin: 0 2px;
}

.showEachCommentTop {
  display: grid;
  grid-template-columns: 30% 70%;
}

.editCommentForm button {
  border: none;
  background: none;
  display: none;
  color: gray;
}
.showEachComment:hover button {
  border: none;
  background: none;
  display: initial;
}

.editCommentForm button:hover {
  text-decoration: none;
  cursor: pointer;
}

.editCommentForm a {
  border: none;
  background: none;
  display: none;
  color: gray;
}
.showEachComment:hover a {
  border: none;
  background: none;
  display: initial;
}

.editCommentForm a:hover {
  text-decoration: none;
  cursor: pointer;
}

.showReactionBtn {
  margin-right: 2px;
  margin-top: 1%;
}

.showReactionBtn form button {
  color: red;
}

.showReactionBtn form a {
  color: black;
}

.showReactionBtn button {
  border: none;
  background: none;
}

.showReactionBtn button:hover {
  text-decoration: none;
  cursor: pointer;
}

.addCommentArea {
  display: none;
}

.showCommentArea {
  text-decoration: none;
  cursor: pointer;
}

.searchUser {
  display: grid;
  grid-template-columns: 15% 80%;
  margin-top: 1%;
  height: 80px;
}

.searchUserPicContainer {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  justify-items: center;
  align-items: center;
  overflow: hidden;
}

.searchUserPicContainer a {
  max-width: 90%;
  max-height: 90%;
  margin: auto;
  display: flex;
  justify-items: center;
}

.searchUserPic {
  max-width: 70%;
  max-height: 70%;
  margin: 0 auto;
}

.searchUserDetails {
  display: grid;
  grid-template-rows: 50% 50%;
  border-left: 1px solid grey;
}

.searchUserDetails div {
  align-self: center;
  margin-left: 3%;
}

.searchUserName span a{
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.searchUserDetailsDiv span span {
  margin-right: 3%;
}
